.grid{
    width: 60%;
    height: 35%;
    margin: 0 auto;
    background-color: azure;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #dbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}
.grid h1{
    
    background-color: #57636e;
    font-size: 190%;
    text-align: center;
    color: #fff;
    padding: 10px 5px;
    border-radius: 50px;
}
.grid #question{
    font-size: 175%;
    color: #5a6772;/*Sets the font-size to a percent of  the parent element's font size*/
}
.buttons{
    margin-top: 30px;
}
#btn0,#btn1,#btn2,#btn3{
    
    background-color: white;
    width: 80%;
    font-size: 100%;
    color: #black;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 20px;
    cursor:pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}
#btn0:hover,#btn1:hover,#btn2:hover,#btn3:hover{
    background-color: #555555;
    color: white;
}




